@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: url("/src/vendor/fonts/CabinetGrotesk-Extrabold.woff") format("woff");
}

.weathercard__container {
  padding-top: 20px;
  position: relative;
}

.weathercard__info {
  z-index: 2;
  position: absolute;
  left: 3vh;
  top: 4vh;
  color: white;
  margin: 0;

  font-size: 36px;
  font-family: "CabinetGrotesk-Extrabold";
  line-height: 1.1;
}

.weathercard__image {
  max-width: 1360px;
}
