@font-face {
  src: url("/src/vendor/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "CabinetGrotesk-Bold";
}

.switch-letter-F {
  font-family: "CabinetGrotesk-Bold";
  line-height: 1.2;
  font-size: 14px;
  z-index: 2;
  color: white;
  position: absolute;
  left: 15%;
}

.switch-letter-C {
  z-index: 2;
  font-family: "CabinetGrotesk-Bold";
  line-height: 1.2;
  font-size: 14px;
  color: white;
  position: absolute;
  right: 15%;
}

.switch-letter-F.active {
  color: #7e7e7e;
}

.switch-letter-C.active {
  color: #7e7e7e;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 56px;
  height: 28px;
  background: white;
  border: 2px solid #7e7e7e;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  margin-right: 20px;
}

.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;

  background-color: white;
}

.switch-slider:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: black;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  transition: background-color 0.4s;
}

.switch-checkbox:checked + .switch-slider:before {
  left: calc(100% -2px);
  transform: translateX(30px);
}
